/* nav */
nav.dark {
  display: flex;
  align-items: center;
  background-color: rgba(1,1,1, 0.6);
  color: white;
  padding: 16px 24px;
}
nav > h2 {
  flex-grow: 1;
  color: #62DBF9;
  font-size: 25px;
  letter-spacing: -0.02rem;
}
nav > h4 {
  font-weight: 600;
}
.nav-logo {
  height: 40px;
  pointer-events: none;
  margin-right: 8px;
}

/* main */
main.dark {
  margin: 56px;
  color: white;
}
.main-heading {
  font-size: 40px;
  margin-bottom: 32px;
  letter-spacing: -0.08rem;
}
li {
  padding-block: 10px;
}
li::marker {
  color: #62DBF9;
  font-size: 1.4rem;
}
